# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "DenyAccess",
            "Effect": "Deny",
            "Principal": "*",
            "Action": "s3:*",
            "Resource": [
                "arn:aws:s3:::gcso-art-alb-logs-nonprod-us-east-1/*",
                "arn:aws:s3:::gcso-art-alb-logs-nonprod-us-east-1"
            ],
            "Condition": {
                "StringNotEquals": {
                    "aws:PrincipalArn": [
                        "arn:aws:iam::043553569850:role/DivvyCloud",
                        "arn:aws:iam::043553569850:user/gcso/aws_svc_artifactory-us-east-1",
                        "arn:aws:iam::043553569850:user/aws_svc_gcso-platform-nonprod-sreadmin",
                        "arn:aws:iam::043553569850:role/WAAD-SREAdmin",
                        "arn:aws:iam::127311923021:root",
                        "delivery.logs.amazonaws.com"
                    ]
                }
            }
        },
        {
            "Sid": "DenyInsecureTransport",
            "Effect": "Deny",
            "Principal": "*",
            "Action": "*",
            "Resource": "arn:aws:s3:::gcso-art-alb-logs-nonprod-us-east-1/*",
            "Condition": {
                "Bool": {
                    "aws:SecureTransport": "false"
                }
            }
        },
        {
            "Sid": "DenyAlternateKMSKeys",
            "Effect": "Allow",
            "Principal": "*",
            "Action": "s3:PutObject",
            "Resource": "arn:aws:s3:::gcso-art-alb-logs-nonprod-us-east-1/*"
        },
        {
            "Sid": "ExplicitDenyDivvyCloudActions",
            "Effect": "Deny",
            "Principal": {
                "AWS": "arn:aws:iam::043553569850:role/DivvyCloud"
            },
            "Action": [
                "s3:Restore*",
                "s3:Replicate*",
                "s3:Put*",
                "s3:GetObject",
                "s3:Delete*",
                "s3:AbortMultipartUpload"
            ],
            "Resource": "arn:aws:s3:::gcso-art-alb-logs-nonprod-us-east-1/*"
        },
        {
            "Sid": "AllowArtifactoryIAMUser",
            "Effect": "Allow",
            "Principal": {
                "AWS": "arn:aws:iam::043553569850:user/gcso/aws_svc_artifactory-us-east-1"
            },
            "Action": "s3:PutObject",
            "Resource": [
                "arn:aws:s3:::gcso-art-alb-logs-nonprod-us-east-1/*",
                "arn:aws:s3:::gcso-art-alb-logs-nonprod-us-east-1"
            ]
        },
        {
            "Sid": "AllowLogDeliveryPut",
            "Effect": "Allow",
            "Principal": {
                "Service": "delivery.logs.amazonaws.com"
            },
            "Action": "s3:PutObject",
            "Resource": "arn:aws:s3:::gcso-art-alb-logs-nonprod-us-east-1/logs/AWSLogs/043553569850/*"
        },
        {
            "Sid": "AllowLogDeliveryGet",
            "Effect": "Allow",
            "Principal": {
                "Service": "delivery.logs.amazonaws.com"
            },
            "Action": "s3:GetBucketAcl",
            "Resource": "arn:aws:s3:::gcso-art-alb-logs-nonprod-us-east-1"
        },
        {
            "Sid": "AllowLogsPut",
            "Effect": "Allow",
            "Principal": {
                "AWS": "arn:aws:iam::127311923021:root"
            },
            "Action": "s3:*",
            "Resource": "arn:aws:s3:::gcso-art-alb-logs-nonprod-us-east-1/logs/AWSLogs/043553569850/*"
        }
    ]
}
