# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "DenyAccess",
            "Effect": "Deny",
            "Principal": "*",
            "Action": "s3:*",
            "Resource": [
                "arn:aws:s3:::alb-logsfor-testing/*",
                "arn:aws:s3:::alb-logsfor-testing"
            ],
            "Condition": {
                "StringNotEquals": {
                    "aws:PrincipalArn": [
                        "arn:aws:iam::127311923021:root",
                        "arn:aws:iam::781827335746:user/mohammad"
                    ]
                }
            }
        },
        {
            "Sid": "DenyInsecureTransport",
            "Effect": "Deny",
            "Principal": "*",
            "Action": "*",
            "Resource": "arn:aws:s3:::alb-logsfor-testing/*",
            "Condition": {
                "Bool": {
                    "aws:SecureTransport": "false"
                }
            }
        },
        {
            "Sid": "DenyAlternateKMSKeys",
            "Effect": "Allow",
            "Principal": "*",
            "Action": "s3:PutObject",
            "Resource": "arn:aws:s3:::alb-logsfor-testing/*"
        },
        {
            "Sid": "AllowArtifactoryIAMUser",
            "Effect": "Allow",
            "Principal": {
                "AWS": "arn:aws:iam::781827335746:user/mohammad"
            },
            "Action": "s3:*",
            "Resource": [
                "arn:aws:s3:::alb-logsfor-testing/*",
                "arn:aws:s3:::alb-logsfor-testing"
            ]
        },
        {
            "Sid": "AllowLogsPut",
            "Effect": "Allow",
            "Principal": {
                "AWS": "arn:aws:iam::127311923021:root"
            },
            "Action": "s3:*",
            "Resource": "arn:aws:s3:::alb-logsfor-testing/logs/AWSLogs/043553569850/*"
        }
    ]
}
